<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Habit Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{ habit['name'] }}</h1>
            <a class="btn" href="/">Back</a>
        </div>

        {% if habit['goal'] %}
            <p class="goal">Goal: {{ habit['goal'] }}</p>
        {% endif %}
    </div>
    <div class="container">
        <form method="post" action="/add_log/{{ habit['id'] }}">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" />
            <label for="minutes">Minutes:</label>
            <input type="number" id="minutes" name="minutes" min="0" required />
            <label for="note">Note:</label>
            <input type="text" id="note" name="note" placeholder="Optional note" />
            <button type="submit">Add Log</button>
        </form>
    </div>
    <div class="container">
        <h2>This weeks logs</h2>
        {% for log in logs %}
            <div class="log-entry">
                <p>{{ log['date'] }}: {{ log['minutes'] }} minutes</p>
                {% if log['note'] %}
                    <p>Note: {{ log['note'] }}</p> 
                {% endif %}
                <a class="edit-btn" href="/edit_page/{{ habit['id']}}/{{ log['id']}}" style="display:inline;">✎</a>
                <form method="post" action="/delete_log/{{ habit['id']}}/{{ log['id']}}" style="display:inline;" onsubmit="return confirm('Delete this log?');">
                    <button type="submit" class="delete-btn">x</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <h2>This Week's Progress: {{ weekly_minutes }} minutes</h2>
    </div> 
    <div class="container">
        <h3>Current Streak</h3>
        <p>{{ streak }} day{{ "s" if streak != 1 else ""}}</p>
    </div>
</body>
</html>